<div class="h3 product-detail-description-title">
  Hörbeispiele
</div>
<div class="row product-detail-content">
  <div class="btn-group-vertical col-md-6">
    <audio id="audioplayer" src="" controls controlsList="nodownload">
      Your browser does not support the audio element.
    </audio>
    {% set audiosampleMediaIds = [] %}
    {% for key, id in page.product.translated.customFields %}
      {% if 'custom_audiosample_track' in key %}
        {% set audiosampleMediaIds = audiosampleMediaIds|merge([id]) %}
      {% endif %}
    {% endfor %}

    {% set mediaCollection =
      searchMedia(audiosampleMediaIds, context.context)
    %}
    {% for media in mediaCollection %}
      {% set audiosampleMedia = mediaCollection.get(media.id) %}
      <button class="btn btn-primary playlistButton"
        data-index="{{ loop.index0 }}"
        data-url="{{ audiosampleMedia.url }}">
        {{ loop.index }}
        {% if audiosampleMedia.translated.title %}
          {{ audiosampleMedia.translated.title|sw_sanitize }}
        {% else %}
          {{ audiosampleMedia.fileName|sw_sanitize }}
        {% endif %}
      </button>
    {% endfor %}
  </div>
</div>
